# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [48]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [2]:
df = pd.read_csv("black_friday.csv")

In [3]:
df.head(5)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

## Inicie sua análise a partir daqui

In [4]:
df.shape

(537577, 12)

In [5]:
df.groupby(['Age','Gender']).size()

Age    Gender
0-17   F           4953
       M           9754
18-25  F          24057
       M          73577
26-35  F          49348
       M         165342
36-45  F          26420
       M          81079
46-50  F          12856
       M          31670
51-55  F           9634
       M          27984
55+    F           4929
       M          15974
dtype: int64

In [6]:
df.User_ID.value_counts()

1001680    1025
1004277     978
1001941     898
1001181     861
1000889     822
           ...
1005810       6
1005391       6
1005608       6
1002111       6
1000708       5
Name: User_ID, Length: 5891, dtype: int64

In [7]:
df.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     537577 non-null  int64
 1   Product_ID                  537577 non-null  object
 2   Gender                      537577 non-null  object
 3   Age                         537577 non-null  object
 4   Occupation                  537577 non-null  int64
 5   City_Category               537577 non-null  object
 6   Stay_In_Current_City_Years  537577 non-null  object
 7   Marital_Status              537577 non-null  int64
 8   Product_Category_1          537577 non-null  int64
 9   Product_Category_2          370591 non-null  float64
 10  Product_Category_3          164278 non-null  float64
 11  Purchase                    537577 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB

In [87]:
2/12

0.16666666666666666

In [10]:
df['Product_Category_3'].mode()

0    16.0
dtype: float64

In [11]:
x = df[['Purchase']].values.astype(float)

# Create a minimum and maximum processor object
min_max_scaler = preprocessing.MinMaxScaler()

# Create an object to transform the data to fit minmax processor
x_scaled = min_max_scaler.fit_transform(x)

# Run the normalizer on the dataframe
df_normalized = pd.DataFrame(x_scaled)

In [50]:
df_normalized

               0
0       0.344255
1       0.631519
2       0.052027
3       0.036676
4       0.327389
...          ...
537572  0.482798
537573  0.799588
537574  0.330501
537575  0.293868
537576  0.281376

[537577 rows x 1 columns]

In [12]:
df_normalized.mean()

0    0.384794
dtype: float64

array([[0.34425471],
       [0.63151918],
       [0.05202725],
       ...,
       [0.33050135],
       [0.29386777],
       [0.28137618]])

(537577, 1)

537577

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

AttributeError: 'numpy.ndarray' object has no attribute 'count'

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [ ]:
def q1():
    return (537577, 12)
    pass

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [ ]:
def q2():
    return 49348
    pass

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [ ]:
def q3():
    return 5891
    pass

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [ ]:
def q4():
    return 3
    # Retorne aqui o resultado da questão 4.
    pass

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [91]:
def q5():
    category2 = df['Product_Category_2']
    category3 = df['Product_Category_3'] 
    enull = 0
    for x in range(len(category2)):
        if np.isnan(category2[x]) or np.isnan(category3[x]):
            enull +=1
            
    return enull/df.shape[0]
                         
q5()

0.6944102891306734

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [ ]:
def q6():
    return 537577-164278
    pass

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [ ]:
def q7():
    return 16
    pass

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [ ]:
def q8():
    return 0.384794
    pass

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [77]:
def q9():
    
    # Get column names first
    names = df.columns
    # Create the Scaler object
    scaler = preprocessing.StandardScaler()
    # Fit your data on the scaler object
    scaled_df = scaler.fit_transform(df[['Purchase']])
    scaled_df = pd.DataFrame(scaled_df, columns=['Purchase'])
    
    #list comprehension
    resultado = [x for x in scaled_df['Purchase'] if (x<=1) and (x>=-1)]
    return len(resultado)

348631

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [86]:
def q10():
    category2 = df['Product_Category_2']
    category3 = df['Product_Category_3'] 
    for x in range(len(category2)):
        if np.isnan(category2[x])!=np.isnan(category3[x]):
            return True
            
    return False

False